body {
  margin:0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

#selectors {
  text-align: left;
  margin-left: 130px;
}

.sel {
  margin-bottom: 10px;
}

#container {
  margin: auto;
  width: 800px;
}

.bar.positive {
  fill: steelblue;
}

.bar.negative {
  fill: brown;
}

.axis text {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.axis path,
.y.axis line {
  display: none;
}

.y-label,
.x-label {
  font: 18px sans-serif;
}

.tick-line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}