body {
  margin:50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#chart rect {
  fill: steelblue;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}